/*importing font styles and css components are isential part of we design fonts.googleapis are very good source of any type of designs*/
@import url('https://fonts.googleapis.com/css?family=Varela Round:300,400,700');
@font-face {
  font-family: myFirstFont;
  src: url(./SmoothieShoppe.ttf);
}
@font-face {
  font-family: myFont;
  src: url(./Signerica.ttf);
}

/*initial View Styling*/
/***************************** 1st Page ************************************/
* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

/* set to zero for the page to maximize potential for design*/
body, html {
    margin: auto;
    padding: auto;
    height: 100%;
    background: #cbcac9;
}

/***************************** Header ************************************/
/* initial container for header*/
.container {
    width: 100%;
    margin-top:-10px;
    
}

/* centered header*/
.center {
    display: flex;
    justify-content: center;
}

/*styling for our header including effect color display position etc.*/
.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    border-bottom: 20px solid #343434;
}

/**/
.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 100%;
}

/**/
.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 20px;
}

/**/
.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 30px;
    
}

/**/
.menu__list-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 4px solid #ffaa3b;
  
}

/**/
.menu__link {
    color: #006789;
    display: inline-block;
    height: 100%;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;

}

/**/
i {
    margin: 0;
    padding: 0;
}

/**/
.App {
  display: flex;
  justify-content: center;

}

/**/
.menu__link:hover {
    color: #ffaa3b;
}

/**/
.menu__link:active {
    color: #ffaa3b;
    border-bottom: 4px solid #ffaa3b;
}

/**/
.menu__logo {
    text-indent: -9999999px;
    display: flex;
    height: 100%;
    width: 72px;
    background-image: url(logo.jpg);
    background-size: cover 250%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    margin-left: -30px;
}

/***************************** Video 1st Page ************************************/
/*positioning Commercially made Video Add*/
.video-container {
  position: absolute;
  margin-top: 80px;
  padding: 0;
  width: 100%;
  height: 75%; 
  overflow: hidden;   

}

/*angle cut for our video presentation*/
.video-container video {
  width: 100% !important; 
  height: auto !important; 
}

/* Description of our video add*/
.content {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 200px;
    width: 100%;
    padding: 20px;
    margin-bottom: -160px;
    top: 50px;
    color: #ffaa3b;
    font-size: 60px; 
}


.titleDesc {
    width: 400px;
    height: 1500px;
    margin-left:-1510px;
    margin-top: -70px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

/***************************** Sign Up Modal ************************************/

/*Sign Up*/
.backdrop {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}


/**/
.signUp {
    background-image: url(signup.jpeg);
    max-width: 1000px;
    min-height: 600px;
    margin: 0 auto;
    padding: 30;
    animation: bounceIn 1s;
}

/**/
@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/**/
.footer button{
    background-color: #D7263D;
    color: white;
    position: fixed;
    margin-left: 977px; 
    margin-top: 0;
}

/*Animation effect for jumping button while waiting for signup,
It's one of the CSS transition effect that allow you to translate, rotate, scale, and skew elements.
A transformation is an effect that lets an element change shape, size and position.*/

@keyframes footer {
    0% {-webkit-transform: scale(1,1);
        transform: scale(1,1);}
   30% { -webkit-transform: scale(1,1) translateY(-.8rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

div.footer {
  display: flex;
  animation: footer .7s ease 2s infinite alternate;
}

div.footer:hover {
  animation: none;
}

.forSignUp {
    text-align: center;
}

/***************************** LogIn 1st Page ************************************/
/*Log In*/

.backdrop1 {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}


/**/
.Login {
    background-image: url(login.jpeg);
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding: 30;
    animation: bounceIn 1s;
}

/**/
@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/**/
.footer1 button{
    background-color: #D7263D;
    color: white;
    position: fixed;
    margin-left: 977px; 
    margin-top: 0;
}

/*Animation effect for jumping button while waiting for signup,
It's one of the CSS transition effect that allow you to translate, rotate, scale, and skew elements.
A transformation is an effect that lets an element change shape, size and position.*/

@keyframes footer1 {
    0% {-webkit-transform: scale(1,1);
        transform: scale(1,1);}
   30% { -webkit-transform: scale(1,1) translateY(-.8rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

div.footer1 {
  display: flex;
  animation: footer .7s ease 2s infinite alternate;
}

div.footer1:hover {
  animation: none;
}

.forLogin {
    text-align: center;
    margin-left: 160px;
}

/***************************** SideBar Main Page ************************************/
/*side bar CSS*/

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffaa3b;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #006789;
  margin-top: -15px;
  position: fixed;
  margin-left: -20px;
  margin-right: 20px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 20px;
  margin-top: 5px;
}

.bm-cross {
  color: #fff;
  background: #bdc3c7;
}

.bm-menu {
  background: #006789;
  padding: 2.5em 2.5em 0;
  font-size: 1.15em;
  margin-left: -20px;
  margin-right: 16px;
  height: auto;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/***************************** Category 1st Page ************************************/
.quote {
  font-size: 20px;
}

#topQuote {
  font-family: myFirstFont;
}

.category {
  margin-top: 750px;
  margin-left: 260px;
  margin-bottom: 0px;
}
.category1 {
  height: 100px;
 
}

.category1:hover {
  cursor: pointer;
}

.category2 {
  height: 100px;
}

.category2:hover {
  cursor: pointer;
}

.category3 {
  height: 100px;
}

.category3:hover {
  cursor: pointer;
}

#myBtn1 {
  outline: none;
  
  width: 200px;
  font-size: 18px;
  padding: 10px 20px;
  background: #fff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -70px;
  border: 2px solid #343434 !important;
  text-align: center;
  text-decoration: none;
  display: flex;
  border-radius: 10px;
}

#myBtn1:hover{
  background: #006789;
  border: 2px solid #fff !important;
  color: #fff;
  border-radius: 10px;
}

.border {
  margin-top: 50px;
  text-align: center;
  width: 1409px;
  padding: 5px 5px;
  background: #f1f1f1;
  color: #000;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/***************************** AboutUs Section 1st Page ************************************/

.media1 {
  margin-top: 20px;
  margin-left: 650px;
  height: 100px;
  width: 100px;
}

.mediaMission {
  margin-left: 580px;
  height: 100px;
  width: 200px;
  margin-bottom: 0px;
}

#mission {
  font-family: myFirstFont;
}

#mission1 {
  font-family: myFirstFont;
  margin-left: 50px;
  margin-bottom: 40px;
}

#mission2 {
  font-family: myFirstFont;
  margin-left: -50px;
  margin-bottom: 0px;
}

.card, .card1, .card2 {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3px;
  margin-left:0px;
  right: 100px;
  text-align: justify;
  max-width: 1400px;
  height: 900px;
}

.arrange {
  padding: 10px 50px;
}

#arrange2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#arrange3 {
  margin-top: 10px;
}

h2 {
  padding: 10px 50px;
}

.media {
  -webkit-transition: all 0.1s ease;
     -moz-transition: all 0.1s ease;
       -o-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
          transition: all 0.1s ease;
}

.media:hover {
  border: 5px solid #ffaa3b;
  border-radius: 50%;
}
p {
  margin: 0;
}

#closing{
  margin-top: 10px;
  margin-bottom: 10px;
}

#signature {
  font-family: myFont;
}
.ninjaScript {
  margin-top: 80px;
  margin-left: 230px;
}

/***********************************OurServices****************************************/
.card1 {
  margin-top: -3px;
  margin-left:0px;
  right: 100px;
  text-align: justify;
  max-width: 1400px;
  height: 1950px;
}

/*SlideShow functionality including transform and animation property usage from CSS*/
.tech-slideshow {
  height: 200px;
  width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 3226px;
  background: url(./collage.jpg) 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-55.6666%);  
  }
}

.media2 {
  height: 100px;
  width: 100px;
  margin-top: -80px;
  margin-left: 700px;
}

.questionContainer {
  margin-left: -50px;
}

#q {
  font-family: myFirstFont;
  margin-left: 200px;
}

#w {
  font-family: myFirstFont;
}

.p1 {
  margin-top: 100px;
  height: 100px;
  width: 500px;
}

.p2 {
  margin-top: 200px;
  margin-left: 750px;
  height: 100px;
  width: 500px;
}

.p3 {
  margin-top: 100px;
  height: 100px;
  width: 500px;
}

.p4 {
  margin-top: 200px;
  margin-left: 750px;
  height: 100px;
  width: 500px;
}

.downloadAd {
  margin-top: 150px;
}

.organize {
  height: 300px;
  width: 400px;
  margin-top: -160px;
  margin-left: 800px;
}

.upload {
  height: 200px;
  width: 400px;
  margin-top: -160px;
  margin-left: -1500px;
}

.publish {
  height: 200px;
  width: 400px;
  margin-top: -160px;
  margin-left: 800px;
}

.utilize {
  height: 200px;
  width: 400px;
  margin-top: -160px;
  margin-left: -1500px;
}

.google {
  outline: none;
  background: url('./google.png');
  cursor:pointer;
  border: none;
  background-size: cover;
  border-radius: 20px;
  height: 65px;
  width: 200px;
  padding: 1px 1px 1px 1px;
}
.apple {
  outline: none;
  background: url('./apple.png');
  cursor:pointer;
  border: none;
  background-size: cover;
  border-radius: 20px;
  height: 65px;
  width: 200px;
  padding: 1px 1px 1px 1px;
}
.addButton {
  margin-top: -150px;
  margin-left: 500px;
  margin-bottom: 100px;   
}
/***************************** WhyUs 1st Page ************************************/
.organize1 {
  height: 100px;
  width: 100px;
  margin-top: -160px;
  margin-left: -150px;
}

.organize2 {
  height: 100px;
  width: 100px;
  margin-top: -500px;
  margin-left: -150px;
}

.organize3 {
  height: 100px;
  width: 100px;
  margin-top: -500px;
  margin-left: -150px;
}

.organize4 {
  height: 100px;
  width: 100px;
  margin-top: -500px;
  margin-left: -150px;
}

#mission3 {
  text-align: justify;
  font-family: myFirstFont;
  margin-left: -50px;
  margin-bottom: 0px;
}

.p5 {
  text-align: justify;
  margin-left: 200px;
  margin-top: 50px;
  height: 100px;
  width: 400px;
}

.p6 {
  text-align: justify;
  margin-left: 850px;
  margin-top: 50px;
  height: 100px;
  width: 400px;
}

.org2 {
  margin-top: -450px;
}

.mainOrg {
  margin-left: -40px;
}

/*SlideShow functionality including transform and animation property usage from CSS*/
.tech-slideshow1 {
  height: 200px;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow1 > div {
  height: 200px;
  width: 2700px;
  background: url('./all.jpg');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow1 .mover-3 {
  animation: moveSlideshow 22s linear infinite;
}
.tech-slideshow1 .mover-4 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow1:hover .mover-4 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.card2 {
  margin-top: -3px;
  margin-left:0px;
  right: 100px;
  text-align: justify;
  height: 1000px;
}

/***************************** Item Part 1st Page ************************************/
/*Styles for itemList First Page*/

.item {
  transition: all .3s ease-in-out;
}

.item:hover .overlay{
  height: 100%;
  transform: scale(1.02);
  opacity: 0.7;
}

.item:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.descProd {
  text-align: justify;
  top: 10px;
}
.root {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.gridList {
  position: relative;
  float: left;
  width: 900px;
  min-height: 400px;
  min-width: 100px;
  overflow: hidden;
  height: 100% !important;
  }

/***************************** Footer 1st Page ************************************/
/*Footer*/
.lastFooter {
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
  position: relative;
  display: block;
  height: 200px;
  background: #343434;
}
